<li>
	{{name}}

	<button class="eat-burger" data-id="{{id}}" data-newburger="{{Eat}}">
		{{#if sleep}}FEED ME!{{else}}Burgers!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
